@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 1rem;
    }

    .Profile-Home img {
        width: 120px;
    }

    .description {
        font-size: 18px;
    }

    .description span {
        font-size: 24px;
    }

    .description-text p {
        font-size: 16px;
        margin: 1rem;
    }

    .links {
        width: 100%;
        padding: 10px;
    }

    .links h2 {
        font-size: 16px;
    }

    .links i {
        font-size: 40px;
    }
}

